.article {
	&__header {
		padding-bottom: 2rem;
	}
	&__container {
		display: grid;
		gap: 1.5rem;
		padding-top: 2rem;
		padding-bottom: 2rem;
		margin-bottom: 2rem;
		border-top: 1px solid var(--color-light-grey);
		border-bottom: 1px solid var(--color-light-grey);
		@media (min-width: $medium + 1) {
			max-width: 80%;
			padding-left: 10%;
		}
	}
	&__share {
		display: flex;
		gap: 1rem;
	}
	&__content {
		a {
			color: inherit;
			font-weight: var(--font-black);
			&:hover {
				text-decoration: underline;
			}
		}
	}
}

.shareList {
	gap: 1rem;
}

.backTo {
	margin-top: 1rem;
	display: flex;
	align-items: center;
	gap: .5rem;
	font-size: 1.1rem;
	color: inherit;
	svg {
		rotate: 180deg;
	}
	&:hover {
		strong {
			text-decoration: underline;
		}
	}
}
