.list {
	padding-bottom: 2rem;
  margin-bottom: 2rem;
	&__container {
		display: flex;
		margin-top: .5rem;
	}
	&__content {
		p {
			display: inline;
		}
		a {
			font-weight: var(--font-bold);
			color: inherit;
			&:hover {
				text-decoration: underline;
			}
		}
	}
	&:not(:last-child) {
		border-bottom: 1px solid var(--color-light-grey);
	}
	&__date {
		@include ui-meta;
	}
}