.careers {
	gap: 1rem;
	position: relative;
	z-index: 1;
	display: var(--careers-display);
	p {
		margin: 0;
	}
	@media (min-width: $medium + 1) {
		&.horizontal {
			--careers-display: flex;
			justify-content: space-between;
		}
	}
	@media (max-width: $medium) {
		--careers-display: grid;
	}
	&.vertical {
		--careers-display: grid;
		> div {
			display: grid;
			gap: 1rem;
		}
		justify-items: center;
		text-align: center;
		gap: 1.5rem;
	}
	&__bgr {
		-webkit-text-stroke: 1px var(--color-light-grey);
    -webkit-text-fill-color: transparent;
		display: flex;
		gap: 2rem;
		font-size: 6rem;
		text-transform: uppercase;
		font-weight: var(--font-black);
		position: absolute;
		left: -10%;
		z-index: 0;
		letter-spacing: 10px;
		top: 50%;
		width: 150%;
		transform: translateY(-50%);
		pointer-events: none;
		line-height: 1;
		&.vertical {
			flex-wrap: wrap;
			gap: 0 1rem;
			max-height: 12rem;
			overflow: hidden;
			word-break: break-word;
		}
	}
}

.main {
	--bgr-section-color: var(--color-lighter-grey);
	padding-top: 2rem;
	padding-bottom: 2rem;
	position: relative;
	overflow: hidden;
}

.careers__button__wrapper {
	> * {
		white-space: nowrap;
	}
	@media (max-width: $smedium) {
		width: 100%;
		> * {
			width: inherit;
		}
	}
}