
.item {
	position: relative;
	overflow: hidden;
	border-radius: var(--border-radius);
	@media (max-width: $medium) {
		display: grid;
		grid-template-columns: minmax(120px, 1fr) 2fr;
		gap: 1rem;
		align-items: center;
	}
	&:before {
		@media (min-width: $medium + 1) {
			content: "";
			position: absolute;
			inset: 0;
			background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,.9));
			transform: translateY(40%);
			transition: transform .3s ease;
		}
	}
	&__heading {
		--heading-line-height: 1;
		--heading-letter-spacing: 0;
		margin-bottom: .5rem;
		@media (min-width: $medium + 1) and (max-width: $large) {
			--heading-size: 1.3rem;
		}
	}
	&__content {
		line-height: 1.1;
		@media (min-width: $medium + 1) {
			position: absolute;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 1rem;
			color: #fff;
			transition: top .3s ease, transform .5s ease;;
			transform: translateY(calc(100% - 3.5rem));
		}
		@media (min-width: $small + 1) and (max-width: $medium) {
			max-width: 70%;
		}
	}
	&__image {
		aspect-ratio: 4/6;
		object-fit: cover;
		border-radius: inherit;
	}
	&__icon {
		color: inherit;
		margin-bottom: .5rem;
		svg {
			transition: transform .5s ease;
			fill: currentColor;
		}
		@media (max-width: $medium) {
			display: none;
		}
	}
	&:hover,
	&:focus {
		&:before,
		.item__content {
			@media (min-width: $medium + 1) {
				transform: translateY(0);
			}
		}
		.item__icon svg {
			transform: rotate(180deg);
		}
	}
}
